<app-header></app-header>
<app-side></app-side>
<div class="appSideInfo">
    <div class="infoContent">
        <div id="Faade" class="w3-container city w3-animate-opacity">
            <div style="margin-top:3rem ;margin-right: 2rem;">
              <span style="font-size: 25px;font-family:Arial, Helvetica, sans-serif ;">الصفحة الرئيسيه<i
                  class="fas fa-angle-left mr-2" style="color: rgb(180, 178, 178);"></i></span>
              <span style="font-size: 25px;color:mediumturquoise;font-family:Arial, Helvetica, sans-serif ;"> 
                الجداول الدراسية</span>
            </div>
            <hr style="width:90%;margin-top: 2rem;">
            <div>
        
              <span style="float: right;">
        
                <form class="example" style="max-width:300px;">
                  <input type="text" placeholder="اختر" name="search2">
                  <button><i class="fas fa-pen"></i></button>
                </form>
              </span>
              <span style="float: right;margin-right: 7rem;">
                <form class="example" style="max-width:300px;">
                  <input type="text" placeholder="البحث" name="search2"  >
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </span>
              <span>
                <button type="button" class="w3-button tablink  " onclick="openLink(event, 'addClass')"
                style="background-color:rgb(70, 184, 219);border-radius:10px;color: white;
                margin-top: -5rem;margin-right: 60rem;width: 14%;height: 50px;font-size: 20px;">اضافة جدول دراسي</button>
              </span>
        
              
              <table class="table table-striped text-center" style="width: 90%;">
        
                <!--Table head-->
                <thead>
                  <tr>
                    <th>#</th>
                    <th>أسم الجدول <i class="fas fa-sort mr-2" style="font-size: 18px;"></i></th>
                    <th>السنة الدراسية<i class="fas fa-sort mr-2" style="font-size: 18px;"></i></th>
                    <th>  الفصل الدراسي<i class="fas fa-sort mr-2" style="font-size: 18px;"></i></th>
                    <th> المرحلة الدراسية<i class="fas fa-sort mr-2" style="font-size: 18px;"></i></th>
                 
                    <th>تعديل <i class="fas fa-sort mr-2" style="font-size: 18px;"></i></th>
                  </tr>
                </thead>
                <!--Table head-->
        
                <!--Table body-->
                <tbody>
                  <tr class="table-info" *ngFor="let item of schedList">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.study_year}}</td>
                    <td>{{item.semester}}</td>
                    <td>{{item.class.name}}</td>
                    
                    <td><button type="button" class="btn  ml-1" style="color: white;background-color:rgb(70, 184, 219);"
                        data-toggle="modal" data-target="#myModal">
                        <i class="fas fa-pen"></i></button> | <button class="btn btn-danger mr-2" (click)="DeleteClas(item)"><i
                          class="far fa-trash-alt"></i></button></td>
        
        
                  </tr>
        
                </tbody>
                <!--Table body-->
        
        
              </table>
              <!--Table-->
            </div>
          </div>
    </div>
</div>