<div class="appSide">
    <img src="./assets/images/logo.PNG" class="center" style="width: 100%;">
    <div class="sideContent" style="margin-bottom: 10rem;">
        <a routerLink="/school/home" routerLinkActive="active">
            <i class="fas fa-home" aria-hidden="true"></i>
            <span>الصفحة الرئيسية</span>
        </a>
        <a routerLink="/school/branch" routerLinkActive="active">
            <i class="fas fa-school" aria-hidden="true"></i>
            <span>الفروع</span>
        </a>
        <a routerLink="/school/bank" routerLinkActive="active">
            <i class="fas fa-university" aria-hidden="true"></i>
            <span>قائمة البنوك </span>
        </a>
        <a routerLink="/school/cost" routerLinkActive="active">
            <i class="fas fa-money-bill-wave" aria-hidden="true"></i>
            <span>الرسوم الدراسية</span>
        </a>
        <a routerLink="/school/record" routerLinkActive="active">
            <i class="fas fa-clipboard-list" aria-hidden="true"></i>
            <span>نظام التسجيل</span>
        </a>
        <a routerLink="/school/exam" routerLinkActive="active">
            <i class="fas fa-id-badge" aria-hidden="true"></i>
            <span>الامتحانات</span>
        </a>
        <a routerLink="/school/interview" routerLinkActive="active">
            <i class="fas fa-people-arrows" aria-hidden="true"></i>
            <span> المقابلة الشخصية</span>
        </a>
        <a routerLink="/school/users" routerLinkActive="active">
            <i class="fas fa-user-circle" aria-hidden="true"></i>
            <span> المستخدمين</span>
        </a>
        <a routerLink="/school/teacher" routerLinkActive="active">
            <i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
            <span> المدرسين</span>
        </a>
        <a routerLink="/school/classes" routerLinkActive="active">
            <i class="fas fa-users" aria-hidden="true"></i>
            <span> الفصول الدراسية</span>
        </a>
        <a routerLink="/school/schedule" routerLinkActive="active">
            <i class="fas fa-book-open" aria-hidden="true"></i>
            <span> الجداول الدراسية</span>
        </a>
    </div>
</div>
<router-outlet></router-outlet>