<app-header></app-header>
<app-side></app-side>
<div class="appSideInfo">
    <div class="infoContent">


        <div id="Fade" class="w3-container city w3-animate-opacity ">
            <span style="width: 100%;">
                <img src="./assets/images/schoollogo.png" height="150px" width="150px"
                    style="margin-top: 4rem;margin-right: 4rem;">
                <p style="display: inline-block;font-size: 25px;margin-right: 2rem;">اسم المدرسه</p>

                <span>
                    <p style="width:900px;margin-right: 15rem;margin-top: -5rem;">هناك حقيقة مثبتة منذ زمن طويل وهي أن
                        المحتوى
                        المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع
                        الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
                        -إلى حد ما-
                        للأحرف عوضاً عن استخدام "هنا
                        يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء</p>
                </span>
            </span>
            <div>
                <span>
                    <i class="fas fa-map-marker-alt"
                        style="color: gainsboro;margin-right: 15rem;margin-top: 3rem;font-size: 30px;">
                        <p
                            style="display: inline-block;margin-right:2rem ;color: gray;font-size: 20px;font-family: Arial, Helvetica, sans-serif;">
                            العنوان ،الحى،المدينه، البلد </p>
                    </i>
                </span>
                <div>
                    <i class="fas fa-mobile-alt"
                        style="color: gainsboro;margin-right: 15rem;margin-top: 1rem;font-size: 30px;">
                        <p
                            style="display: inline-block;margin-right:2rem ;color: gray;font-size: 20px;font-family: Arial, Helvetica, sans-serif;">
                            رقم الهاتف الخاص بالمدرسه - رقم هاتف اخر خاص بالمدرسه </p>
                    </i>
                </div>
            </div>
            <hr style="height: 200px;width:90%;">
            <div style="margin-top: -12rem;">
                <div class="toggle-container text-left">
                    <div class="btn-group btn-toggle">
                        <button class="btn btn-md btn-dark active" style="font-size: 25px;">بنين</button>
                        <button class="btn btn-md btn-default" style="font-size: 25px;">بنات</button>
                    </div>
                </div>
            </div>
            <div>
                <p
                    style="font-family: Arial, Helvetica, sans-serif;font-size: 30px;margin-top: -3rem ;margin-right: 2rem;color: gray;">
                    الاقسام الدراسية</p>
                <ul>
                    <li style="font-size:25px;color: mediumturquoise;">رياض الاطفال ( 4 مراحل )</li>
                    <div class="vLine">

                    </div>
                    <span>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">المرحلة الاولي</a>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">المرحلة الثانيه</a>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">المرحلة الثالثه</a>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">المرحلة الرابعه</a>
                    </span>
                    <br>
                    <li style="font-size:25px;color: mediumturquoise;margin-top: 2rem;">الإبتدائية ( 5 مراحل )</li>
                    <div class="vLine">

                    </div>
                    <span>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">اولى ابتدائي</a>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">ثانى ابتدائي</a>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">ثالث ابتدائي</a>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">رابع ابتدائي</a>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">خامس ابتدائي</a>
                    </span>
                    <li style="font-size:25px;color: mediumturquoise;margin-top: 2rem;">المتوسطة ( 3 مراحل )</li>
                    <span>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">اولى متوسط</a>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">ثانى متوسط</a>
                        <a class="btn rounded-pill mt-4 mr-5" style="border:2px solid gray">ثالث متوسط</a>

                    </span>
                </ul>


            </div>
        </div>
    </div>
</div>