<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image "
        style="background-image: url('./assets/images/auth-bg.jpg');background-repeat: no-repeat;background-size: cover;"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">

                        <div class="col-md-9 col-lg-8 mx-auto">
                            <img src="./assets/images/logo.PNG" class="center" width="100px">
                            <img src="./assets/images/logo1.PNG" class="center" width="250px">
                            <h6 class="login-heading mb-4" style="text-align: center;
                font-family: 'Changa', sans-serif;font-weight: bold;margin-top: 5rem;">يمكنك الان اعادة تعيين كلمه المرور الخاصه بحسابك
                                </h6>
                            <form class="mt-5">

                                <div class="form-group text-right">

                             
                                    <label> كلمه المرور الجديده</label>
                                    <div class="inputWithIcon inputIconBg">
                                        <span>
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        <input type="text" class="text-right "
                                            placeholder="ادخل كلمة المرور الجديده" required autofocus>
                                        
                                    </div>

                                </div>

                                <div class="form-group text-right">

                                    <!-- <input type="password" id="inputPassword" class="form-control text-right" placeholder="ادخل كلمة المرور" required> -->
                                    <label> تأكيد كلمة المرورالجديدة</label>
                                    <div class="inputWithIcon inputIconBg">
                                        <span>
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        <input type="password" class=" text-right "
                                            placeholder="ادخل كلمة المرورالجديده           " required autofocus>
                                        

                                    </div>

                                </div>
                                <button class="btn btn-lg  btn-block   mt-2 font-weight-bold mb-2" type="submit"
                                    style="background-color: rgb(89, 174, 253);color: white;font-weight: bold;">اعادة كلمة المرور</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
