<div class="appSide">
    <div class="sideContent">
        <a routerLink="/parent/home" routerLinkActive="active">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>الطلبات</span>
        </a>
        <a routerLink="/parent/order-details" routerLinkActive="active">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <span>بيانات الطلب</span>
        </a>
        <a routerLink="/parent/schedule" routerLinkActive="active">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>الجدول الدراسي</span>
        </a>
        <a routerLink="/parent/banks" routerLinkActive="active">
            <i class="fa fa-university" aria-hidden="true"></i>
            <span>قائمة البنوك</span>
        </a>
        <a routerLink="/parent/accept-tests" routerLinkActive="active">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <span>اختبارات القبول</span>
        </a>
        <a routerLink="/parent/interview-tests" routerLinkActive="active">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span>المقابلة الشخصية</span>
        </a>
        <a routerLink="/parent/payment" routerLinkActive="active">
            <i class="fa fa-money" aria-hidden="true"></i>
            <span>المدفوعات</span>
        </a>
    </div>
</div>
<router-outlet></router-outlet>