.appSide {
    display: inline-block;
    width: 15%;
    float: right;
    background-color: #21586a;
    height: 800px;
}

.sideContent {
    text-align: right;
}

.appSide a {
    display: block;
    color: #fff;
    height: 50px;
    line-height: 3;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.appSide a:first-of-type {
    margin-top: 1rem;
}

.appSide a:focus,
.appSide a:hover,
.appSide a.active {
    background-color: #1d4e5e;
    outline: none;
    border-right: 3px solid #89ceb7;
}

.appSide a i {
    margin-left: 0.5rem;
}