<nav class="navbar navbar-expand">
    <a href="#" class="navbar-brand mainLogo">
        <img src="../assets/images/logo.PNG" alt="">
    </a>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item auth">
            <a routerLink="/parent/register" class="nav-link">انشاء حساب جديد</a>
        </li>
        <li class="nav-item auth">
            <a routerLink="/parent/login" class="nav-link">تسجيل الدخول </a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
            <i class="fa fa-globe" aria-hidden="true"></i>
        </li>
        <li class="nav-item">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </li>
        <li class="nav-item">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>مرحبا بك</span>
                <span>{{ name }}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- <a routerLink="" class="dropdown-item">
                    <i class="fa fa-user" aria-hidden="true"></i> الصفحة الشخصية
                </a> -->
                <a href class="dropdown-item" (click)="logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> تسجيل الخروج
                </a>
            </div>
        </li>
        <li class="nav-item">
            <img class="avatar" src="../assets/images/user.png" alt="">
        </li>
        <!-- <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
        </li> -->
    </ul>
</nav>