.head span,
.head form {
    display: inline-block;
}

.head span {
    float: right;
    width: 20%;
}

.head form {
    width: 80%;
}

.head .form-group {
    display: inline-block;
    width: 70%;
}

.head .form-group select {
    width: 50%;
    margin: auto;
    position: relative;
    top: 0.5rem;
}

.head .action {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.head .action button {
    background-color: #78bde7;
    border: 1px solid #78bde7;
    border-radius: 5px;
    color: #fff;
}

.schedule {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.days {
    display: inline-block;
    width: 19%;
    margin: auto;
    margin-left: 1%;
    border: 1px solid #dae0e5;
}

.dayName {
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #dae0e5;
    border-bottom: 1px solid #dae0e5;
    font-weight: 700;
    padding: 1rem 0;
}

.related {
    display: block;
    width: 100%;
}

.item {
    display: block;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #dae0e5;
}

.name {
    margin-right: 0.5rem;
}