<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6  " style="background-image: url('./assets/images/auth-bg.jpg');background-repeat: no-repeat;background-size: cover;"></div>

        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">

                        <div class="col-md-9 col-lg-8 mx-auto">
                            <img src="./assets/images/logo2.PNG" class="center" width="100px">
                            <img src="./assets/images/logo1.PNG" class="center" width="250px">

                            <form class="mt-5 " [formGroup]="">

                                <button class="btn btn-lg  btn-block   mt-2 font-weight-bold mb-2" type="submit" style="background-color: rgb(89, 174, 253);color: white;font-weight: bold;" routerLink="/school/Loginschool"> تسجيل الدخول(المدرسه)</button>

                                <button class="btn btn-lg  btn-block   mt-5 font-weight-bold mb-2" type="submit" style="background-color: rgb(89, 174, 253);color: white;font-weight: bold;" routerLink="/parent/login"> تسجيل الدخول (أولياء الامور)</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>