<app-parent-header></app-parent-header>
<app-parent-side></app-parent-side>
<div class="appSideInfo">
    <div class="infoContent">
        <div class="head">
            <span>اختبارات القبول</span>
        </div>
        <!--  -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>رقم الطلب</th>
                    <th>وقت الامتحان</th>
                    <th>عدد المحاولات</th>
                    <th> صلاحية الرابط</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of exams; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.exam.exam_timer}}</td>
                    <td>{{item.exam.number_of_attempts}}</td>
                    <td>{{item.exam.exam_validity}}</td>
                </tr>
            </tbody>
        </table>
        <!--  -->
    </div>

</div>